body {
	width: 95%;
	max-width: 800px;
	margin: auto;
	font-family: lauto;
	line-height: 1.5;
	background: url(bg.jpg) center; 
	color: white;
}
main{
background: #100d0b7d;
padding:5px 40px;
margin-top:30px; 
border-radius:10px;
}
.logo, .band-name, .headline { 
	margin:0;
	text-align:center;
}
.concerts{
	margin:30px o;
	text-align: center;
	width: 100;
}
.concerts table {
	background: #82222273;
	border-radius: 10px;
	padding: 10px;
	margin: 0 auto;
}